body {
  color: #1a202c;
  background-color: hsl(214, 32%, 91%); 
  position: relative;

  overflow: hidden;
}
.btn6{
  color: #fff;
  text-decoration: none;
  background:#A4152D;
  box-shadow: none;
  color: white;
  padding: 1px 25px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: 20rem;
  border: none;
  border-radius: 12px;

 text-decoration: none;

font-family: Montserrat,sans-serif;

  
}
.btn6:hover{
  background-color:#b80d29;
color: white;
transition: 0.03s;
text-decoration: none;
}
.btn6:active{
  background-color:#b80d29;
  color: white;
  transition: 0.03s;
  text-decoration: none;
}
.container1-2 .card-body{
  padding-top: 3rem; 
}

.account-settings .user-profile {
  margin: 0 0 1rem 0;
  padding-bottom: 1rem;
  text-align: center;
}
.account-settings .user-profile .user-avatar {
  margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar img {
  width: 90px;
  height: 90px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
.account-settings .user-profile h5.user-name {
  margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 400;
  color: #9fa8b9;
}
.account-settings .about {
  margin: 2rem 0 0 0;
  text-align: center;
}
.account-settings .about h5 {
  margin: 0 0 15px 0;
  color: #007ae1;
}
.account-settings .about p {
  font-size: 0.825rem;
}
.form-control {
  border: 1px solid #cfd1d8;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: .825rem;
  background: #ffffff;
  color: #2e323c;
}

.card3 {
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  margin-bottom: 1rem;
}
@media screen and (max-width: 900px) {



  body{
   
   overflow-y: scroll;
   overflow-x: hidden;
 }
 .btn6{
  margin-top: 2rem;
  margin-right: 2.2rem;
 }
 }
